
h2 {
  margin-bottom: 0;
}

.weather-app {
  padding: 2%;
  display: grid;
  height: 400px;
  width: 90vw;
  grid-template-columns: 1fr 6fr;
  grid-template-rows: 1fr 4fr 1fr 1fr;
  grid-template-areas:
  'current dSummary dSummary dSummary'
  'current daily daily daily'
  'current hSummary hSummary hSummary'
  'current hourly hourly hourly';

  .current {
    grid-area: current;
    padding: 5%;
    .top {
      font-size: 1.4em;
      margin-bottom: 30%;
    }
    .current-info {
      font-size: 1.2em;
      font-weight: bold;
      .info {
        margin: 5px 0;
      }
    }
    .current-alerts {
      color: red;
      ul {
        padding: 0;
      }
      .eachAlert {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        h4 {
          margin: 0;
        }
        img {
          width: 20px;
          height: 20px;
          margin-right: 10px;
        }
      }
    }
  }

  .daily-summary {
    grid-area: dSummary;
    text-align: center;
  }

  .daily {
    grid-area: daily;
    padding: 5px;
    .days {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      .day-boxes {
        width: 200px;
        display: block;
        border: solid 5px white;
        &:hover {
          border-color: #ffde17;
          box-shadow: 0px 5px 5px blue;
        }
        .top {
          display: flex;
          flex-direction: row;
          align-items: center;
          img {
            margin-left: 5px;
            width: 20%;
            height: 20%;
            margin-right: 5%;
          }
        }
        p {
          margin: 2px;
        }
      }
      .info-wrapper {
        height: 100px;
        padding: 5px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
      }
    }
  }

  .hourly-summary {
    grid-area: hSummary;
    text-align: center;
  }

  .hourly {
    grid-area: hourly;
    .hours {
      display: flex;
      flex-direction: row;
      .hour-boxes {
        text-align: center;
        padding: 2px;
        display: block;
        border: solid 4px white;
        &:hover {
          border-color: #ffde17;
          box-shadow: 0px 5px 5px blue;
        }
        img {
          display: block;
          width: 30%;
          height: 30%;
          margin-right: 5%;
          margin: 5px auto;
        }
      }
      h5 {
        margin: 0;
        white-space: nowrap;
      }
    }
  }
}

@media only screen and (max-width: 1100px) {
  .weather-app {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    .current {
      height: 200px;
      width: 100%;
      .top {
        margin-bottom: 5%;
      }
      .info-wrapper {
        display: flex;
        flex-wrap: nowrap;
        .current-alerts {
          margin-left: 20px;
        }
      }
    }

    .hourly {
      height: 150px;
      .hours {
        padding: 0;
        display: inline-block;
        height: 100vw;
        overflow-y: auto;
        overflow-x: hidden;
        transform: rotate(-90deg);
        transform-origin: right top;
        transform:rotate(-90deg) translateY(-100px);
        .hour-boxes {
          font-size: 1.3em;
          width: 100px;
          height: 100px;
          text-align: center;
          padding: 2px;
          border: solid 4px white;
          transform: rotate(90deg);
          transform-origin: right top;
        }
      }
    }

    .daily {
      padding: 5px;
      .days {
        width: 100vw;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: flex-start;
        .day-boxes {
          width: 200px;
          display: flex;
          border: solid 5px white;
          &:hover {
            border-color: #ffde17;
            box-shadow: 0px 5px 5px blue;
          }
        }
      }
    }
  }
}
