<div class="weather-app">
  <div class="{{current.icon}} current" *ngIf="current">
    <div class="top">
      <h3>Current Weather:</h3>
    </div>

    <div class="current-info">
      <div class="info">
        Conditions: {{ current.summary }}
      </div>
      <div class="info">
        Temp: {{ current.apparentTemperature }}&#176;
      </div>
      <div class="info">
        Wind Speed: {{ current.windSpeed }} mph
      </div>
      <div class="current-alerts" *ngIf="alerts">
        <ul>
          <li *ngFor="let alert of alerts let i = index">
            <a class="eachAlert" (click)="getAlertModal(i)">
              <img src="assets/icons/alert.png" alt="alert">
              <h3>{{ alert.title }}</h3>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="hourly-summary">
    <h2>{{ hourlySummary }}</h2>
  </div>

  <div class="hourly">
    <ul class="hours" *ngIf="hours">
      <li class="hour-boxes {{hour.icon}}" *ngFor="let hour of hours let i = index">
        <a (click)="getHourlyModal(i)">
          <h5>{{ hour.formattedTime }}</h5>
          <img src="assets/{{hour.icon}}.png" alt="">
          {{ hour.temp }}&#176;
        </a>
      </li>
    </ul>
  </div>

  <div class="daily-summary">
    <h2>{{ dailySummary }}</h2>
  </div>

  <div class="daily">
      <ul class="days" *ngIf="days">
        <li class="day-boxes {{ day.icon }}" *ngFor="let day of days let i = index">
          <a (click)="getDailyModal(i)">
          <div class="top">
            <img src="assets/{{day.icon}}.png" alt="">
            <h3>{{ day.time * 1000 | date : "EEEE"}}</h3>
          </div>
          <div class="info-wrapper">
            <div class="day-summary">
              {{ day.summary }}
            </div>
            <div class="day-temps">
              <p>high: {{ day.highTemp }}&#176;</p>
              low: {{ day.lowTemp }}&#176;
            </div>
          </div>
        </a>
        </li>
      </ul>
  </div>
<div *ngIf="showModal">
  <app-modal [time]='modalData'></app-modal>
</div>

</div>
