.header {
  text-align: center;

  input {
    padding-left: 5px;
    border: 2px solid blue;
    border-radius: 25px;
    width: 100px;
    outline: none;
    color: green;
    margin: 0 5px;
    &:focus {
      background-color: green;
      color: white;
    }
  }

  input::placeholder {
    color: green;
  }

  input:focus::placeholder {
    color: white;
  }

  h1 {
    text-transform: capitalize;
    margin: 0 auto;
  }
}
