<div class="modal {{slides[index].icon }}" [@modal]="modalState">

<div class="modal-hourly" *ngIf="time.hourly">
  <h1>{{ slides[index].formattedTime }}</h1>
  <div class="modal-wrapper">
    <div class="modal-info">
      <p>temp:</p> {{ slides[index].temp }}&#176;
    </div>
    <div class="modal-info">
      <p>cloud cover:</p> {{ slides[index].cloudCover }}
    </div>
    <div class="modal-info">
      <p>dewPoint:</p> {{ slides[index].dewPoint }}&#176;
    </div>
    <div class="modal-info">
      <p>humidity:</p> {{ slides[index].humidity }}%
    </div>
    <div class="modal-info">
      <p>chance of rain:</p> {{ slides[index].precipProbability }}%
    </div>
    <div class="modal-info">
      <p>amount of rain:</p> {{ slides[index].precipIntensity }}  in
    </div>
    <div class="modal-info">
      <p>wind speed:</p> {{ slides[index].windSpeed }} mph
    </div>
  </div>
</div>

<div class="modal-daily" *ngIf="time.daily">
  <h1>{{ slides[index].time * 1000 | date : "EEEE" }}</h1>
  <div class="modal-wrapper">
    <div class="modal-info">
      <p>Low: {{ slides[index].lowTemp}}&#176;</p>
      at {{ slides[index].lowTime }}
    </div>
    <div class="modal-info">
      <p>High: {{ slides[index].highTemp }}&#176;</p>
      at {{ slides[index].highTime }}
    </div>
    <div class="modal-info">
      <p>rain fall:</p> {{ slides[index].precipIntensity }} in
    </div>
    <div class="modal-info">
      <p>humidity:</p> {{ slides[index].humidity }}%
    </div>
    <div class="modal-info">
      <p>sunrise:</p> {{ slides[index].sunrise }}
    </div>
    <div class="modal-info">
      <p>sunset:</p> {{ slides[index].sunset }}
    </div>
    <div class="modal-info">
      <p>chance of rain:</p> {{ slides[index].precipProbability }}%
    </div>
    <div class="modal-info">
      <p>wind speed:</p> {{ slides[index].windSpeed }} mph
    </div>
  </div>
</div>

  <div class="modalButtons">
    <a *ngIf="slides" (click)="reverseSlide()"><img src="../assets/icons/arrow-left.svg"></a>
    <b class="dot"></b>
    <a (click)="closeModal()"><img src="../assets/icons/close.svg"></a>
    <b class="dot"></b>
    <a *ngIf="slides" (click)="forwardSlide()"><img src="../assets/icons/arrow-right.svg"></a>
  </div>

</div>
<div class="modalBackdrop" [@modalBackdrop]="modalBackdropState"> </div>
